<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715853110467-fjlv2b2l7vn4thsmgpuqajc7pjn4f401.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715853110467-fjlv2b2l7vn4thsmgpuqajc7pjn4f401</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>715853110467-f312lahj4iliq6kqh1mvr42u4qk2jeu6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKrhobkBwVKxDPWrY_DTSgrS23V4m71Zc</string>
	<key>GCM_SENDER_ID</key>
	<string>715853110467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.hackatomici2021</string>
	<key>PROJECT_ID</key>
	<string>hackatomici-2021</string>
	<key>STORAGE_BUCKET</key>
	<string>hackatomici-2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715853110467:ios:3c9cad437823ec18941676</string>
</dict>
</plist>